In [143]:
import pandas as pd
import numpy as np

In [150]:
import bb_utils
import bb_utils.meta
from bb_utils.ids import BeesbookID

In [144]:
dance_events = pd.read_csv("../../datasets/foragergroups/full_data_marie23.csv", index_col=0) #751 x 28/29
dance_events = dance_events[dance_events.following == True]
# print(list(dance_events.columns))
# dance_events

### Get a list of dancers with the date of the dance

`Dance_events` is 751 rows long. 
Filtering with filter 1: `dance_events = dance_events[dance_events.following == True]` will leave only 59 rows. 
Filtering with filter 2: `dropna(subset=['dancer'])` leaves only 95 rows. 
Filtering with both leaves 58 rows. 

Among those 58 rows, there are only 4 unique bee ids. 
If we leave out filter 1, we get 8 unique dancer ids.

In [145]:
dancers = dance_events[['dancer','video_date']]
dancers = dancers.dropna()
dancers['role'] = 'dancer'
dancers.rename(columns = {'dancer' : 'bee_id'}, inplace=True)

In [146]:
recruits = dance_events[['recruit','video_date']]
recruits = recruits.dropna()
recruits['role'] = 'recruit'
recruits.rename(columns = {'recruit' : 'bee_id'}, inplace=True)

In [151]:
foragers = dancers.append(recruits, sort=True)

In [154]:
foragers = foragers.drop_duplicates()
foragers

     bee_id     role  video_date
437   918.0   dancer  2016-08-23
461  2854.0   dancer  2016-08-23
474   119.0   dancer  2016-08-23
529  3831.0   dancer  2016-08-23
348   936.0  recruit  2016-08-23
437  2691.0  recruit  2016-08-23
449  2854.0  recruit  2016-08-23
450  2022.0  recruit  2016-08-23
455   119.0  recruit  2016-08-23
466  3069.0  recruit  2016-08-23
515  2772.0  recruit  2016-08-23
524  2508.0  recruit  2016-08-23
526  3178.0  recruit  2016-08-23

In [163]:
foragers.bee_id = foragers.bee_id.astype(int)
foragers.bee_id = foragers.bee_id.apply(lambda ID: bb_utils.ids.BeesbookID.from_dec_12(ID).as_ferwar())

437    1593
461    1714
474    1799
529    2031
348    2106
437    2984
449    1714
450    1662
455    1799
466    1471
515    1197
524    1180
526     710
Name: bee_id, dtype: int64

In [160]:
df.a = df.a.astype(float)

numpy.float64

numpy.int64

In [ ]:
ID = 316
lambda ID = bb_utils.ids.BeesbookID.from_dec_12(ID).as_ferwar()

In [ ]:
# Future work:
# compare dancers and followers agains each other,
# maybe see if the length of the dance makes a difference?
# what other features of this could be meaningful?