In [39]:
import pandas as pd
import numpy as np


import bb_utils
import bb_utils.meta
import bb_utils.ids
import bb_backend

In [40]:
m = bb_utils.meta.BeeMetaInfo()

foragers = pd.read_hdf("/home/janek/datasets/full_data_marie23.hdf") #751 x 28
print(list(foragers))

['attending', 'author', 'begin', 'begin_frame_id', 'begin_timestamp', 'cam_id', 'comment', 'dancer', 'duration', 'end', 'end_frame_id', 'end_timestamp', 'following', 'metadata_filename', 'recruit', 'trophallaxis', 'valid_filename', 'video_begin_timestamp', 'video_duration', 'video_end_timestamp', 'videoname', 'begin_datetime', 'video_begin_datetime', 'end_datetime', 'video_end_datetime', 'video_date', 'begin_time', 'begin_time_hours']

### Get the list of values from "recruit" and filter out NaNs

In [41]:
recruits = foragers[['recruit', 'video_date']]
recruits = recruits.dropna()
print(recruits.shape)

(97, 2)

### Get the list of values from "dancer" and filter out NaNs

In [42]:
dancers = foragers[['dancer', 'video_date']]
dancers = dancers.dropna()
print(dancers.shape)
# print(dancers)

(95, 2)

### Merge dancers and recruits (as suspected foragers), filter out duplicates

In [43]:
foragers = recruits.append(dancers)
# foragers = foragers.drop_duplicates()
print(foragers)

     dancer  recruit  video_date
163     NaN    936.0  2016-08-23
348     NaN    936.0  2016-08-23
412     NaN   2022.0  2016-08-23
437     NaN   2691.0  2016-08-23
440     NaN   3069.0  2016-08-23
443     NaN    936.0  2016-08-23
445     NaN   2691.0  2016-08-23
449     NaN   2854.0  2016-08-23
450     NaN   2022.0  2016-08-23
451     NaN   2854.0  2016-08-23
454     NaN   2022.0  2016-08-23
455     NaN    119.0  2016-08-23
456     NaN   2854.0  2016-08-23
457     NaN   2691.0  2016-08-23
458     NaN   2691.0  2016-08-23
461     NaN   2691.0  2016-08-23
466     NaN   3069.0  2016-08-23
468     NaN   3069.0  2016-08-23
474     NaN    936.0  2016-08-23
482     NaN    119.0  2016-08-23
483     NaN   2772.0  2016-08-23
488     NaN   2772.0  2016-08-23
490     NaN   2508.0  2016-08-23
495     NaN   3178.0  2016-08-23
497     NaN   2772.0  2016-08-23
503     NaN   2691.0  2016-08-23
506     NaN   2772.0  2016-08-23
511     NaN   3831.0  2016-08-23
514     NaN    119.0  2016-08-23
515     NaN   2772.0  2016-08-23
..      ...      ...         ...
573   918.0      NaN  2016-08-23
587  2508.0      NaN  2016-08-23
589  2854.0      NaN  2016-08-23
591  2854.0      NaN  2016-08-23
593  2854.0      NaN  2016-08-23
594  2854.0      NaN  2016-08-23
595   918.0      NaN  2016-08-23
599  2508.0      NaN  2016-08-23
602  2508.0      NaN  2016-08-23
603  2508.0      NaN  2016-08-23
605  2508.0      NaN  2016-08-23
608  2508.0      NaN  2016-08-23
616   918.0      NaN  2016-08-23
621   936.0      NaN  2016-08-23
627  2854.0      NaN  2016-08-23
628   119.0      NaN  2016-08-23
631   918.0      NaN  2016-08-23
632  2854.0      NaN  2016-08-23
634  2854.0      NaN  2016-08-23
639  3831.0      NaN  2016-08-23
647  3178.0      NaN  2016-08-23
648  2854.0      NaN  2016-08-23
676   936.0      NaN  2016-08-23
682   936.0      NaN  2016-08-23
751   918.0      NaN  2016-08-23
752  2854.0      NaN  2016-08-23
753  2508.0      NaN  2016-08-23
754  2508.0      NaN  2016-08-23
755  2508.0      NaN  2016-08-23
756  2854.0      NaN  2016-08-23

[192 rows x 3 columns]

In [38]:
meta = bb_utils.meta.BeeMetaInfo()
group_idx = 20
group_ids = map(lambda i: i.as_ferwar(), 
                list(map(bb_utils.ids.BeesbookID.from_dec_12, meta.get_foragergroup(group_idx).dec12)))

group_ids = list(group_ids)
group_ids

[1799, 1593, 2106, 1662, 1180, 2984, 1197, 1714, 1471, 1232, 2031]

In [ ]:

# for b_id in group_ids:

In [70]:
rec_ser = foragers['recruit']
rec_ser = rec_ser.dropna()
recs = list(rec_ser)

dan_ser = foragers['dancer']
dan_ser = dan_ser.dropna()
dancs = list(dan_ser)

In [73]:
ids_ser = pd.Series(group_ids)
ids_ser.isin(recs)
ids_ser.isin(dancs)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

In [ ]:
x