In [82]:
from bb_behavior import plot
import bb_behavior
import pandas as pd
import os
import sys
sys.path.append('/home/mi/rrszynka/mnt/janek/Beesbook-janek/Python-modules/') #For bee_helpers, file_helpers and cache
from bee_cache import Cache, CacheType, CacheFormat; c = Cache()
import datetime
import numpy as np

In [62]:
det = c.load("DETECTIONS-2016-08-13_15:00:00", type = CacheType.detections, format = CacheFormat.csv)

In [79]:
samples = []

for cam in range(4):
    samples.append(det[det.cam_id==cam].head(1))

In [91]:
det[det.cam_id==0].head(1)

,timestamp,frame_id,detection_idx,track_id,x_pos,y_pos,orientation,x_pos_hive,y_pos_hive,orientation_hive,bee_id,bee_id_confidence,cam_id
Unnamed: 0,,,,,,,,,,,,,
223,2016-08-13 15:00:00.284019,16074968420287169148,106,16758735140124590835,1263,2911,2.82338,181.367,153.632,1.25032,2606,0.992157,0

In [92]:
det[det.cam_id==1].head(1)

,timestamp,frame_id,detection_idx,track_id,x_pos,y_pos,orientation,x_pos_hive,y_pos_hive,orientation_hive,bee_id,bee_id_confidence,cam_id
Unnamed: 0,,,,,,,,,,,,,
301,2016-08-13 15:00:00.284020,16496697677197950303,173,13887109240630650413,2787,2677,-0.348283,180.895,153.585,1.19502,2606,1.0,1

In [93]:
det[det.cam_id==2].head(1)

,timestamp,frame_id,detection_idx,track_id,x_pos,y_pos,orientation,x_pos_hive,y_pos_hive,orientation_hive,bee_id,bee_id_confidence,cam_id
Unnamed: 0,,,,,,,,,,,,,
0,2016-08-13 15:00:00.243058,9751489668076630360,28,18147537044802308410,1549,625,-0.949905,32.7651,139.59,-2.52965,1201,1.0,2

In [94]:
det[det.cam_id==3].head(1)

,timestamp,frame_id,detection_idx,track_id,x_pos,y_pos,orientation,x_pos_hive,y_pos_hive,orientation_hive,bee_id,bee_id_confidence,cam_id
Unnamed: 0,,,,,,,,,,,,,
133,2016-08-13 15:00:00.243060,10325762713383093507,91,12922585551012271045,1837,2339,0.634444,205.9,93.9387,2.22224,2689,1.0,3

In [97]:
in_data = [(2606, 16074968420287169148), (2606, 16496697677197950303), (1201, 9751489668076630360), (2689, 10325762713383093507)]


for (bee, frame) in in_data:
    video = plot.plot_bees(bee_ids=[4], 
                       frame_id=frame, frame_margin=10,
                       path_alpha=None,
                       plot_labels = True, plot_markers=True)
    video.get_video(save_to_path='/home/mi/rrszynka/mnt/janek/caches/Videos/'+str(frame)+'_' + str(bee) + ".mp4")

In [50]:
bee_id = 2460
dt = datetime.datetime(2016, 8, 8, 13)
def get_frame_id_for_bee_id(bee_id, dt):
    for cam_id in range(4):
        frames = bb_behavior.db.get_frames(cam_id, dt.timestamp(), dt.timestamp() + 5)
        detections = bb_behavior.db.get_bee_detections(bee_id, frames=frames)
        for d in detections:
            if d is not None:
                return d[1]
get_frame_id_for_bee_id(bee_id, dt)

Decimal('9307872200162233439')