In [3]:
import sys 
sys.path.append('../Python-modules/') #For bee_helpers and file_helpers 
from bee_helpers import calc_trip_lengths, get_forager_bee_ids, get_random_bee_ids, get_all_bee_ids
from file_helpers import delete_detection_caches_for_date, detections_to_presence, create_presence_cache_filename, create_presence_cache_filename, cache_location_prefix, cache_detections_from_database, cache_death_dates, last_days_caches
from datetime import timedelta, datetime
from pathlib import Path
from bee_cache import Cache, CacheType, CacheFormat; c=Cache()
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
c.load('real_forager_lives')

,born,died,lifespan,foraging_min_date,foraging_max_date,foraging_min_age,foraging_max_age
bee_id,,,,,,,
135,2016-07-19,2016-08-24,36.0,2016-08-01,2016-08-05,13 days,17 days
199,2016-07-19,2016-08-20,32.0,2016-07-31,2016-08-18,12 days,30 days
217,2016-07-19,2016-08-03,15.0,2016-07-28,2016-08-02,9 days,14 days
220,2016-07-19,2016-08-06,18.0,2016-08-01,2016-08-05,13 days,17 days
228,2016-07-19,2016-08-10,22.0,2016-07-31,2016-08-05,12 days,17 days
233,2016-07-19,2016-08-15,27.0,2016-07-28,2016-08-05,9 days,17 days
253,2016-07-19,2016-08-05,17.0,2016-07-31,2016-08-03,12 days,15 days
319,2016-07-19,2016-08-23,35.0,2016-07-28,2016-08-22,9 days,34 days
337,2016-07-19,2016-08-18,30.0,2016-08-08,2016-08-18,20 days,30 days
392,2016-07-19,2016-08-14,26.0,2016-07-28,2016-08-14,9 days,26 days
400,2016-07-19,2016-07-23,4.0,2016-07-28,2016-08-02,9 days,14 days
539,2016-07-19,2016-08-02,14.0,2016-07-31,2016-08-01,12 days,13 days
555,2016-07-19,2016-08-16,28.0,2016-08-08,2016-08-14,20 days,26 days
644,2016-07-19,2016-08-22,34.0,2016-07-28,2016-08-22,9 days,34 days
648,2016-07-19,2016-08-13,25.0,2016-07-28,2016-08-10,9 days,22 days
675,2016-07-19,2016-08-28,40.0,2016-07-28,2016-07-29,9 days,10 days
710,2016-07-19,2016-09-07,50.0,2016-08-04,2016-08-22,16 days,34 days
727,2016-07-19,2016-09-07,50.0,2016-07-28,2016-08-01,9 days,13 days
769,2016-07-19,2016-08-18,30.0,2016-07-28,2016-08-18,9 days,30 days
785,2016-07-19,2016-08-25,37.0,2016-08-09,2016-08-14,21 days,26 days
818,2016-07-19,2016-08-04,16.0,2016-07-28,2016-08-01,9 days,13 days
845,2016-07-19,2016-08-21,33.0,2016-07-31,2016-08-03,12 days,15 days
860,2016-07-19,2016-08-04,16.0,2016-08-01,2016-08-03,13 days,15 days
885,2016-07-19,2016-08-22,34.0,2016-08-04,2016-08-22,16 days,34 days
912,2016-07-19,2016-08-18,30.0,2016-08-09,2016-08-18,21 days,30 days
931,2016-07-19,2016-08-06,18.0,2016-07-28,2016-08-05,9 days,17 days
1110,2016-07-19,2016-08-02,14.0,2016-07-29,2016-08-01,10 days,13 days
1122,2016-07-19,2016-08-26,38.0,2016-08-09,2016-08-18,21 days,30 days
1180,2016-07-19,2016-08-28,40.0,2016-08-23,2016-08-25,35 days,37 days
1197,2016-07-19,2016-09-07,50.0,2016-08-23,2016-08-26,35 days,38 days
1232,2016-07-19,2016-08-26,38.0,2016-08-14,2016-08-24,26 days,36 days
1362,2016-07-19,2016-08-16,28.0,2016-08-09,2016-08-16,21 days,28 days
1471,2016-07-19,2016-08-29,41.0,2016-08-23,2016-08-24,35 days,36 days
1507,2016-07-20,2016-09-06,48.0,2016-09-01,2016-09-02,43 days,44 days
1518,2016-07-20,2016-08-26,37.0,2016-08-09,2016-08-18,20 days,29 days
1593,2016-07-20,2016-08-28,39.0,2016-08-08,2016-08-26,19 days,37 days
1662,2016-07-20,2016-08-24,35.0,2016-08-23,2016-08-24,34 days,35 days
1689,2016-07-21,2016-09-03,44.0,2016-09-01,2016-09-02,42 days,43 days
1714,2016-07-22,2016-08-29,38.0,2016-08-23,2016-08-26,32 days,35 days
1793,2016-07-22,2016-09-06,46.0,2016-08-24,2016-09-02,33 days,42 days
1799,2016-07-22,2016-09-09,49.0,2016-08-23,2016-09-02,32 days,42 days
1817,2016-07-22,2016-09-05,45.0,2016-09-01,2016-09-02,41 days,42 days
2031,2016-07-26,2016-08-27,32.0,2016-08-09,2016-08-26,14 days,31 days
2106,2016-07-27,2016-08-29,33.0,2016-08-23,2016-08-26,27 days,30 days
2412,2016-07-29,2016-09-14,47.0,2016-09-01,2016-09-02,34 days,35 days
2475,2016-08-01,2016-09-09,39.0,2016-08-08,2016-08-08,7 days,7 days
2570,2016-08-02,2016-09-06,35.0,2016-09-01,2016-09-02,30 days,31 days
2776,2016-08-10,2016-09-07,28.0,2016-09-01,2016-09-02,22 days,23 days
2984,2016-08-11,2016-08-28,17.0,2016-08-23,2016-08-24,12 days,13 days
3037,2016-08-15,2016-09-06,22.0,2016-09-01,2016-09-02,17 days,18 days

In [13]:
c.load('foragers_from_groups')

        bee_id  group_id       date  location
bee_id
769        769         1 2016-07-28  Stock-F1
818        818         1 2016-07-28  Stock-F1
319        319         1 2016-07-28  Stock-F1
644        644         1 2016-07-28  Stock-F1
392        392         1 2016-07-28  Stock-F1
648        648         1 2016-07-28  Stock-F1
400        400         1 2016-07-28  Stock-F1
931        931         1 2016-07-28  Stock-F1
675        675         1 2016-07-28  Stock-F1
727        727         1 2016-07-28  Stock-F1
217        217         1 2016-07-28  Stock-F1
233        233         1 2016-07-28  Stock-F1
818        818         2 2016-07-29  Stock-F1
1110      1110         2 2016-07-29  Stock-F1
644        644         2 2016-07-29  Stock-F1
392        392         2 2016-07-29  Stock-F1
648        648         2 2016-07-29  Stock-F1
931        931         2 2016-07-29  Stock-F1
675        675         2 2016-07-29  Stock-F1
727        727         2 2016-07-29  Stock-F1
217        217         2 2016-07-29  Stock-F1
233        233         2 2016-07-29  Stock-F1
539        539         3 2016-07-31  Stock-F1
818        818         3 2016-07-31  Stock-F1
845        845         3 2016-07-31  Stock-F1
644        644         3 2016-07-31  Stock-F1
392        392         3 2016-07-31  Stock-F1
199        199         3 2016-07-31  Stock-F1
727        727         3 2016-07-31  Stock-F1
217        217         3 2016-07-31  Stock-F1
...        ...       ...        ...       ...
2106      2106        22 2016-08-25        F4
1180      1180        22 2016-08-25        F4
1197      1197        22 2016-08-25        F4
1714      1714        22 2016-08-25        F4
2031      2031        22 2016-08-25        F4
1793      1793        23 2016-08-26        F3
1799      1799        23 2016-08-26        F3
1593      1593        23 2016-08-26        F3
2106      2106        23 2016-08-26        F3
1197      1197        23 2016-08-26        F3
1714      1714        23 2016-08-26        F3
2031      2031        23 2016-08-26        F3
1793      1793        24 2016-09-01        F3
1799      1799        24 2016-09-01        F3
2570      2570        24 2016-09-01        F3
1817      1817        24 2016-09-01        F3
2412      2412        24 2016-09-01        F3
1689      1689        24 2016-09-01        F3
2776      2776        24 2016-09-01        F3
3037      3037        24 2016-09-01        F3
1507      1507        24 2016-09-01        F3
1793      1793        25 2016-09-02        F3
1799      1799        25 2016-09-02        F3
2570      2570        25 2016-09-02        F3
1817      1817        25 2016-09-02        F3
2412      2412        25 2016-09-02        F3
1689      1689        25 2016-09-02        F3
2776      2776        25 2016-09-02        F3
3037      3037        25 2016-09-02        F3
1507      1507        25 2016-09-02        F3

[261 rows x 4 columns]