In [3]:
import bb_utils
import bb_utils.meta
from bb_utils.ids import BeesbookID
import bb_backend
import numpy as np
import pandas as pd

In [4]:
connect_str = """dbname='beesbook' 
                 user='reader' 
                 host='tonic.imp.fu-berlin.de' 
                 password='' 
                 application_name='sammelgruppen'"""

In [5]:
meta = bb_utils.meta.BeeMetaInfo()

In [6]:
all_groups_indices = np.arange(1,26)

In [54]:
all_groups_dataframes = []

for i in all_groups_indices:
    group = meta.get_foragergroup(i)
    group_df = pd.DataFrame(group.dec12, columns=['bee_id_dec12'])
    group_df['group_id'] = group.group_id
    group_df['date'] = group.date
    group_df['location'] = group.location
    all_groups_dataframes.append(group_df)

all_groups_df = pd.concat(all_groups_dataframes)
all_groups_df

    bee_id_dec12  group_id       date  location
0             27         1 2016-07-28  Stock-F1
1            811         1 2016-07-28  Stock-F1
2           1017         1 2016-07-28  Stock-F1
3           2122         1 2016-07-28  Stock-F1
4           2185         1 2016-07-28  Stock-F1
5           2186         1 2016-07-28  Stock-F1
6           2313         1 2016-07-28  Stock-F1
7           2611         1 2016-07-28  Stock-F1
8           2618         1 2016-07-28  Stock-F1
9           3450         1 2016-07-28  Stock-F1
10          3480         1 2016-07-28  Stock-F1
11          3736         1 2016-07-28  Stock-F1
0            811         2 2016-07-29  Stock-F1
1           1388         2 2016-07-29  Stock-F1
2           2122         2 2016-07-29  Stock-F1
3           2185         2 2016-07-29  Stock-F1
4           2186         2 2016-07-29  Stock-F1
5           2611         2 2016-07-29  Stock-F1
6           2618         2 2016-07-29  Stock-F1
7           3450         2 2016-07-29  Stock-F1
8           3480         2 2016-07-29  Stock-F1
9           3736         2 2016-07-29  Stock-F1
0            442         3 2016-07-31  Stock-F1
1            811         3 2016-07-31  Stock-F1
2           1235         3 2016-07-31  Stock-F1
3           2122         3 2016-07-31  Stock-F1
4           2185         3 2016-07-31  Stock-F1
5           3192         3 2016-07-31  Stock-F1
6           3450         3 2016-07-31  Stock-F1
7           3480         3 2016-07-31  Stock-F1
..           ...       ...        ...       ...
2            936        22 2016-08-25        F4
3           2508        22 2016-08-25        F4
4           2772        22 2016-08-25        F4
5           2854        22 2016-08-25        F4
6           3831        22 2016-08-25        F4
0             23        23 2016-08-26        F3
1            119        23 2016-08-26        F3
2            918        23 2016-08-26        F3
3            936        23 2016-08-26        F3
4           2772        23 2016-08-26        F3
5           2854        23 2016-08-26        F3
6           3831        23 2016-08-26        F3
0             23        24 2016-09-01        F3
1            119        24 2016-09-01        F3
2            162        24 2016-09-01        F3
3            407        24 2016-09-01        F3
4           1729        24 2016-09-01        F3
5           2454        24 2016-09-01        F3
6           3458        24 2016-09-01        F3
7           3547        24 2016-09-01        F3
8           3645        24 2016-09-01        F3
0             23        25 2016-09-02        F3
1            119        25 2016-09-02        F3
2            162        25 2016-09-02        F3
3            407        25 2016-09-02        F3
4           1729        25 2016-09-02        F3
5           2454        25 2016-09-02        F3
6           3458        25 2016-09-02        F3
7           3547        25 2016-09-02        F3
8           3645        25 2016-09-02        F3

[261 rows x 4 columns]

In [55]:
all_groups_df.bee_id_dec12 = all_groups_df.bee_id_dec12.apply(lambda ID: bb_utils.ids.BeesbookID.from_dec_12(ID).as_ferwar())
all_groups_df.rename(columns={'bee_id_dec12' : 'bee_id'}, inplace=True)
all_groups_df.index = all_groups_df.bee_id
all_groups_df.drop(columns='bee_id')

        group_id       date  location
bee_id
769            1 2016-07-28  Stock-F1
818            1 2016-07-28  Stock-F1
319            1 2016-07-28  Stock-F1
644            1 2016-07-28  Stock-F1
392            1 2016-07-28  Stock-F1
648            1 2016-07-28  Stock-F1
400            1 2016-07-28  Stock-F1
931            1 2016-07-28  Stock-F1
675            1 2016-07-28  Stock-F1
727            1 2016-07-28  Stock-F1
217            1 2016-07-28  Stock-F1
233            1 2016-07-28  Stock-F1
818            2 2016-07-29  Stock-F1
1110           2 2016-07-29  Stock-F1
644            2 2016-07-29  Stock-F1
392            2 2016-07-29  Stock-F1
648            2 2016-07-29  Stock-F1
931            2 2016-07-29  Stock-F1
675            2 2016-07-29  Stock-F1
727            2 2016-07-29  Stock-F1
217            2 2016-07-29  Stock-F1
233            2 2016-07-29  Stock-F1
539            3 2016-07-31  Stock-F1
818            3 2016-07-31  Stock-F1
845            3 2016-07-31  Stock-F1
644            3 2016-07-31  Stock-F1
392            3 2016-07-31  Stock-F1
199            3 2016-07-31  Stock-F1
727            3 2016-07-31  Stock-F1
217            3 2016-07-31  Stock-F1
...          ...        ...       ...
2106          22 2016-08-25        F4
1180          22 2016-08-25        F4
1197          22 2016-08-25        F4
1714          22 2016-08-25        F4
2031          22 2016-08-25        F4
1793          23 2016-08-26        F3
1799          23 2016-08-26        F3
1593          23 2016-08-26        F3
2106          23 2016-08-26        F3
1197          23 2016-08-26        F3
1714          23 2016-08-26        F3
2031          23 2016-08-26        F3
1793          24 2016-09-01        F3
1799          24 2016-09-01        F3
2570          24 2016-09-01        F3
1817          24 2016-09-01        F3
2412          24 2016-09-01        F3
1689          24 2016-09-01        F3
2776          24 2016-09-01        F3
3037          24 2016-09-01        F3
1507          24 2016-09-01        F3
1793          25 2016-09-02        F3
1799          25 2016-09-02        F3
2570          25 2016-09-02        F3
1817          25 2016-09-02        F3
2412          25 2016-09-02        F3
1689          25 2016-09-02        F3
2776          25 2016-09-02        F3
3037          25 2016-09-02        F3
1507          25 2016-09-02        F3

[261 rows x 3 columns]