In [143]:
import pandas as pd
import numpy as np

In [150]:
import bb_utils
import bb_utils.meta
from bb_utils.ids import BeesbookID

In [164]:
dance_events = pd.read_csv("../../datasets/foragergroups/full_data_marie23.csv", index_col=0) #751 x 28/29
dance_events = dance_events[dance_events.following == True]
print(list(dance_events.columns))

['attending', 'author', 'begin', 'begin_frame_id', 'begin_timestamp', 'cam_id', 'comment', 'dancer', 'duration', 'end', 'end_frame_id', 'end_timestamp', 'following', 'metadata_filename', 'recruit', 'trophallaxis', 'valid_filename', 'video_begin_timestamp', 'video_duration', 'video_end_timestamp', 'videoname', 'begin_datetime', 'video_begin_datetime', 'end_datetime', 'video_end_datetime', 'video_date', 'begin_time', 'begin_time_hours']

### Get a list of dancers and recruits along with the date of the dance

In [165]:
dancers = dance_events[['dancer','video_date']]
dancers = dancers.dropna()
dancers['role'] = 'dancer'
dancers.rename(columns = {'dancer' : 'bee_id'}, inplace=True)

In [166]:
recruits = dance_events[['recruit','video_date']]
recruits = recruits.dropna()
recruits['role'] = 'recruit'
recruits.rename(columns = {'recruit' : 'bee_id'}, inplace=True)

In [151]:
foragers = dancers.append(recruits, sort=True)
foragers = foragers.drop_duplicates()
foragers.bee_id = foragers.bee_id.astype(int)
foragers.bee_id = foragers.bee_id.apply(lambda ID: bb_utils.ids.BeesbookID.from_dec_12(ID).as_ferwar())

In [167]:
foragers

     bee_id     role  video_date
437     918   dancer  2016-08-23
461    2854   dancer  2016-08-23
474     119   dancer  2016-08-23
529    3831   dancer  2016-08-23
348     936  recruit  2016-08-23
437    2691  recruit  2016-08-23
449    2854  recruit  2016-08-23
450    2022  recruit  2016-08-23
455     119  recruit  2016-08-23
466    3069  recruit  2016-08-23
515    2772  recruit  2016-08-23
524    2508  recruit  2016-08-23
526    3178  recruit  2016-08-23

In [ ]:
# Future work: (nullified if we only get 13 bees from this anyway)
# compare dancers and followers agains each other,
# maybe see if the length of the dance makes a difference?
# what other features of this could be meaningful?